*{
    margin: 0;
    padding: 0;
}

.activity_div .card {
    padding: 20px;
    min-height: 300px;
    border-radius: 10px;
    background-color: #043b5c;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    text-align: center;
}

.activity_div .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}


.activity_div .card img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.activity_div .card .card_body{
    text-align: left;
    color: #fff;
}

.activity_div .card .card_body h3{
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.activity_div .card .card_body p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.activity_div .card .card_body h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.activity_div .card .card_body h5 span{
    font-weight: 700;
}

.activity_div .card .card_footer button{
    width: 100%;
    background-color: #cf2f74;
    border: 1px solid #cf2f74;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0;
    transition: all .5s;
    cursor: pointer;
}

.activity_div .card .card_footer button:hover{
    background-color: #ced6e0;
    border: 1px solid #ced6e0;
    color: #2f3542;
}


@media only screen and (max-width : 500px) {
    .activity_div .card img {
        width: 200px;
        height: 130px;
        
    }
}